/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background-color: beige;
}
font-face {
  font-family: NunitoSans;
  src: url(assets/font/NunitoSans-Black.ttf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
