.mat-card {
  margin-top: 40%;
  background-color: transparent;
}

.happinessjar{
  font-family: 'Grechen Fuemen', cursive;
  text-align: center;
}

.jar{
  margin-left: 40%
}

.note{
  margin-left: 130%
}

.mat-elevation-z0{
  margin-left: 75%;
  font-family: 'Dancing Script', cursive;
}

.mat-label{
  font-family: 'Dancing Script', cursive;
}

.button{
  font-family: 'Dancing Script', cursive;
}