<mat-drawer-container  [hasBackdrop]="true">
    <mat-drawer #drawer mode="side">Test</mat-drawer>
    <mat-drawer-content>
        <div>
            <div class="title" style="font-size: xxx-large">
                Happiness Jar
            </div>
        
            <div class="my-jar" style="font-size: larger;">
                My Jars
            </div>
        
            <div>
               <img src="././assets/happy_jar.png" height="1000px" (click)="try()">
        
            </div>
        </div>
      <button mat-flat-button (click)="drawer.toggle()">Toggle drawer</button>
    </mat-drawer-content>
  </mat-drawer-container>

  <!-- <div>
    <div class="title" style="font-size: xxx-large">
        Happiness Jar
    </div>

    <div class="my-jar" style="font-size: larger;">
        My Jars
    </div>

    <div>
       <img src="././assets/happy_jar.png" height="1000px" (click)="try()">

    </div>
</div> -->