<head>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap" rel="stylesheet">
</head>
<div>
    <div class="my-jar" style="font-size: 80px;">
        My Jars
    </div>
    <div class="title" style="font-size: 50px">
        Happiness Jar
    </div>

    <div>
       <img src="././assets/happy_jar.png" height="1000px" (click)="try()">

    </div>
</div>
