<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grechen+Fuemen&display=swap"
        rel="stylesheet">
</head>
<div>
    <img src="././assets/home.png" height="50px" weight="auto" (click)="try()">
    <h1 class="happinessjar" style="font-size:4rem; font-weight: 500;">My Motivational Jar</h1>
</div>

<div>
    <div style="display: inline-block; ">
        <img class="jar" style="display: inline-block;" src="../../../assets/excited.png" height="700px" weight="auto">
    </div>
    <div style="vertical-align: top; display: inline-block;">
        <mat-card class="mat-elevation-z0" style="width: 400px">
            <mat-card-title style="font-size: 38px;">Record Your Motivations..</mat-card-title>
            <textarea #story style="margin: 10px; font-size: 25px;" matInput placeholder="Enter here!"></textarea>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label class="mat-label" style="font-size: 20px">date of motivation</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="date" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <button mat-stroked-button (click)="post(story.value,date)" class="button"
                style="font-size: 20px">Record</button>
        </mat-card>
    </div>

</div>